# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build outputs
/dist
/build
frontend/dist/

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
